services:
    krg.calendar.registry:
        class: KRG\CalendarBundle\Calendar\CalendarRegistry
        arguments: [[]]

    krg.calendar.manager:
        class: KRG\CalendarBundle\Calendar\CalendarManager
        arguments: [ '@doctrine.orm.entity_manager' ]

    krg.calendar:
        class: KRG\CalendarBundle\Calendar\Calendar
        arguments: [ '@krg.calendar.manager' ]

    krg.calendar.factory:
        class: KRG\CalendarBundle\Calendar\CalendarFactory
        arguments: [ '@krg.calendar', '@krg.calendar.registry', '@form.factory', '@request_stack', '@security.token_storage', '@router.default', '%colors%' ]

    krg.calendar.twig:
        class: KRG\CalendarBundle\Twig\CalendarExtension
        tags:
            - { name: twig.extension }

    krg.calendar.listener:
        class: KRG\CalendarBundle\Calendar\CalendarListener
        tags:
            - { name: kernel.event_listener, event: kernel.view, priority: 255 }

    krg.form.slot:
        class: KRG\CalendarBundle\Form\Type\SlotType
        arguments: [ '@doctrine.orm.entity_manager' ]
        tags:
            - { name: form.type }
