services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $colors: '%krg_calendar.colors%'

    KRG\CalendarBundle\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']
        public: true

    KRG\CalendarBundle\Listener\:
        resource: '../../Listener/*'
        tags: ['doctrine.event_subscriber']
        public: true

    KRG\CalendarBundle\Listener\CalendarListener:
        tags: [{ name: kernel.event_listener, event: kernel.view, priority: 255 }]

    KRG\CalendarBundle\Configuration\:
        resource: '../../Configuration'
        tags: ['easyadmin.config_pass']

    KRG\CalendarBundle\Form\Type\:
        resource: '../../Form/Type/*'
        tags: ['form.type']

    KRG\CalendarBundle\Twig\:
        resource: '../../Twig/*'
        tags: ['twig.extension']

    KRG\CalendarBundle\Calendar\:
        resource: '../../Calendar/*'
        public: true

