easy_admin:
    entities:
        Slot:
            class: 'KRG\CalendarBundle\Entity\SlotInterface'
            list:
                title: '<i class="fa fa-users"></i> Slots'
                fields:
                    - { property: 'startAt', label: 'slot.startAt', format: 'd/m/Y' }
                    - { property: 'endAt', label: 'slot.endAt', format: 'd/m/Y' }
                    - { property: 'capacity', label: 'slot.capacity' }
            edit:
                fields:
                    - { type: 'group', label: 'slot.configuration' }
                    -
                        property: 'startAt'
                        label: 'slot.startAt'
                        type: 'date'
                    -
                        property: 'endAt'
                        label: 'slot.endAt'
                        type: 'date'
                    -
                        property: 'duration'
                        label: 'slot.duration'
                        type: 'KRG\CalendarBundle\Form\Type\DurationType'
                    -
                        property: 'capacity'
                        label: 'slot.capacity'
                    - { type: 'group', label: 'slot.range' }
                    -
                        property: 'range'
                        label: false
                        type: 'KRG\CalendarBundle\Form\Type\SlotRangeCollectionType'
            new:
                fields:
                    - { type: 'group', label: 'slot.configuration' }
                    -
                        property: 'startAt'
                        label: 'slot.startAt'
                        type: 'date'
                    -
                        property: 'endAt'
                        label: 'slot.endAt'
                        type: 'date'
                    -
                        property: 'duration'
                        label: 'slot.duration'
                        type: 'KRG\CalendarBundle\Form\Type\DurationType'
                    -
                        property: 'capacity'
                        label: 'slot.capacity'
                    - { type: 'group', label: 'slot.range' }
                    -
                        property: 'range'
                        label: 'slot.timetable'
                        type: 'KRG\CalendarBundle\Form\Type\SlotRangeCollectionType'
