.slot-range {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
}

.slot-range > .slot {
    display: flex;
    padding: 5px 0;
}

.slot-range > .slot:nth-child(odd) {
    width: calc(60% - 20px);
}

.slot-range > .slot:nth-child(odd) > label {
    width: 250px;
    display: inline-block;
}

.slot-range > .slot:nth-child(even) {
    width: calc(40% - 20px);
}