{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}edit{% endblock %}
{% block content_title %}{{ 'rendez_vous'|trans({}, 'admin') }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="field-group col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'rendez_vous_list'|trans({}, 'admin') }}</h3>
                </div>
                <div class="box-body">
                    {{ calendar_render(calendar) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
