{% block range_collection_widget %}
    <div class="slot-range">
        {% for child in form %}
            <div class="slot">
                {% if loop.index % 2 == 1 %}
                    <label>{{ child.vars.day|trans({}, 'KRGCalendarBundle') }}</label>
                {% endif %}
                {% for _child in child %}
                    {{- form_widget(_child) -}}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
